<%- include ../partials/header.ejs %>

<main class="container">
    <h1>Brewerys</h1>

    <a href="/brewerys/add" title="Add brewery">

    <button class="btn">
    Add a new brewery
    </button></a>

    <ul class="brewery-list">
        <% for (var i = 0; i < brewerys.length; i++) { %>
            <li class="brewery-list-item">
                <!-- link to /brewerys/:id -->
                <h4><a href="/brewerys/<%= brewerys[i]._id%>" title="Brewery Details">
                    <%= brewerys[i].title %></a></h4>
            </li>
            <li class="brewery-details">
                <a href="/brewerys/<%= brewerys[i]._id%>" title="Brewery Details">
                <%= brewerys[i].content %></a>
            </li>
            <li class="brewery-details">
                <a href="/brewerys/<%= brewerys[i]._id%>" title="Brewery Details">
                <%= brewerys[i].beertypes %></a>
            </li>
        <% } %>
    </ul>
</main>

</body>
</html>